@model ExerciseGroup

<form asp-action="FavoriteExercisesList" method="get" align="right">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter1"]" />
            <input type="submit" value="Search" class="btn btn-outline-light" />
        </p>
    </div>
</form>

<h2>FAVORITE EXERCISES</h2>

<table class="table bg-dark">
    <tr class="stickyTableHeader">
        <th>
            <a asp-action="FavoriteExercisesList" asp-route-sortOrder="@ViewData["NameSortParam"]">
                NAME
            </a>
        </th>
        <th>
            <a asp-action="FavoriteExercisesList" asp-route-sortOrder="@ViewData["BodyPartSortParam"]">
                BODY PART
            </a>
        </th>
        <th>
            <a asp-action="FavoriteExercisesList" asp-route-sortOrder="@ViewData["TargetMuscleSortParam"]">
                TARGET MUSCLE
            </a>
        </th>
        <th>
            <a asp-action="FavoriteExercisesList" asp-route-sortOrder="@ViewData["EquipmentSortParam"]">
                EQUIPMENT
            </a>
        </th>
        <th></th>
    </tr>

    @foreach (var exercise in @Model.ExercisesList)
    {
        @using (Html.BeginForm("RemoveExerciseFromFavorites", "Exercise", "Post"))
        {
            <tr>
                <input asp-for="@Model.ExerciseID" type="hidden" value="@exercise.ExerciseID" />
                <td>@exercise.Name.ToUpper()</td>
                <td>@exercise.BodyPart.ToUpper()</td>
                <td>@exercise.TargetMuscle.ToUpper()</td>
                <td>@exercise.Equipment.ToUpper()</td>
                <td>
                    <a class="btn btn-outline-light" href=/Exercise/ViewExercise/@exercise.ExerciseID>View</a>
                    <input class="btn btn-outline-light" type="submit" onclick="return confirm('Are you sure?')" value="Remove">
                </td>
            </tr>
        }
    }
</table>
