@model IEnumerable<Exercise>

<h2>All Exercises By Body Part</h2>

@*@using (Html.BeginForm("InsertProductToDatabase", "Exercise", "Post"))
{
    <div class="form-group">
        <label for="">Select a Body Part</label>
        <select class="form-control" name="BodyPart" value="">
            @foreach (var bodyPart in )
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
            }
        </select>
    </div>

    <input type="submit" value="Create Product" class="btn btn-primary" />
}*@

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Body Part</th>
        <th>Target Muscle</th>
        <th>Equipment Needed</th>
    </tr>

    @foreach (var exercise in @Model)
    {
        <tr>
            <td><a href=/Exercise/ViewExercise/@exercise.ExerciseNumber>@exercise.ExerciseNumber</a></td>
            <td>@exercise.Name</td>
            <td>@exercise.BodyPart</td>
            <td>@exercise.TargetMuscle</td>
            <td>@exercise.Equipment</td>
        </tr>
    }

</table>