@model Exercise

@using (Html.BeginForm("ViewBodyPartExerciseList", "Exercise", "Post"))
{
    <div class="form-group">
        <label for="">Select a Body Part</label>
        <select class="form-control" name="BodyPart" value="">
            @foreach (var bodyPart in Model.BodyPartList)
            {
                <option value="@bodyPart.BodyPartName">@bodyPart.BodyPartID @bodyPart.BodyPartName</option>
            }
        </select>
    </div>

    <input type="submit" value="View Exercises By Body Part" class="btn btn-primary" />
}

@using (Html.BeginForm("ViewTargetMuscleExerciseList", "Exercise", "Post"))
{
    <div class="form-group">
        <label for="">Select a Target Muscle</label>
        <select class="form-control" name="TargetMuscle" value="">
            @foreach (var targetMuscle in Model.TargetMuscleList)
            {
                <option value="@targetMuscle.TargetMuscleName">@targetMuscle.TargetMuscleID @targetMuscle.TargetMuscleName</option>
            }
        </select>
    </div>

    <input type="submit" value="View Exercises By Target Muscle" class="btn btn-primary" />
}

@using (Html.BeginForm("ViewEquipmentExerciseList", "Exercise", "Post"))
{
    <div class="form-group">
        <label for="">Select Equipment</label>
        <select class="form-control" name="Equipment" value="">
            @foreach (var equipment in Model.EquipmentList)
            {
                <option value="@equipment.EquipmentName">@equipment.EquipmentID @equipment.EquipmentName</option>
            }
        </select>
    </div>

    <input type="submit" value="View Exercises By Equipment Needed" class="btn btn-primary" />
}