@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




@model Exercise

<h2>@Model.Name.ToUpper()</h2>
<h3>Body Part: @Model.BodyPart</h3>
<h3>Target Muscle: @Model.TargetMuscle</h3>
<h3>Equipment Needed: @Model.Equipment</h3>
<img src="@Model.GifUrl" />