@model WorkoutGroup

<h2>ALL WORKOUTS</h2>

<table class="table bg-dark">
    <tr class="stickyTableHeader">
        <th>WORKOUT</th>
        <th><a class="btn btn-outline-light" href="/Workout/CreateWorkout/">Create New Workout</a></th>
    </tr>

    @foreach (var workout in @Model.WorkoutsList)
    {
        @using (Html.BeginForm("UpdateDeleteWorkout", "Workout", "Post"))
        {
            <tr>
                <input asp-for="@Model.WorkoutID" type="hidden" value="@workout.WorkoutID" />
                <td>
                    <input asp-for="@Model.WorkoutName" type="text" name="WorkoutName" class="form-control" value="@workout.WorkoutName" />
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="ViewWorkout" asp-route-id="@workout.WorkoutID">View</a>
                    <input class="btn btn-outline-light" type="submit" name="cmd" value="Update">
                    <input class="btn btn-outline-light" type="submit" name="cmd" onclick="return confirm('Are you sure?')" value="Delete">
                </td>
            </tr>
        }        
    }
</table>
