@model Exercise

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateWorkoutExerciseToDatabase", "Workout", "Post"))
{
    <input asp-for="ExerciseID" type="hidden" value="@Model.ExerciseID" />

    <input asp-for="Name" type="hidden" value="@Model.Name" />

    <label asp-for="Reps" class="control-label">Reps</label>
    <input type="number" step="1" name="Reps" class="form-control" value="@Model.Reps" />

    <label asp-for="Sets" class="control-label">Sets</label>
    <input type="number" step="1" name="Sets" class="form-control" value="@Model.Sets" />

    <input type="submit" value="Update Exercise" class="btn btn-primary" />
}
