@model Workout

<h2>@Model.WorkoutName</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th></th>
    </tr>
    
    @foreach (var exercise in @Model.WorkoutExercises)
    {
        @using (Html.BeginForm("UpdateRemoveWorkoutExercise", "Workout", "Post"))
        {
            <tr>
                <input asp-for="@Model.WorkoutID" type="hidden" value="@Model.WorkoutID" />
                <input asp-for="@Model.WorkoutName" type="hidden" value="@Model.WorkoutName" />
                <input asp-for="@Model.ExerciseID" type="hidden" value="@exercise.ExerciseID" />
                <td>
                    <input asp-for="@exercise.Name" type="hidden" value="@exercise.Name" />
                    @exercise.Name.ToUpper()
                </td>
                <td>
                    <input asp-for="@Model.Reps" type="number" step="1" name="Reps" class="form-control" value="@exercise.Reps" />
                </td>
                <td>
                    <input asp-for="@Model.Sets" type="number" step="1" name="Sets" class="form-control" value="@exercise.Sets" />
                </td>
                <td>
                    <a href=/Exercise/ViewExercise/@exercise.ExerciseID>View</a> 
                    <input type="submit" name="cmd" value="Update">  
                    <input type="submit" name="cmd" onclick="return confirm('Are you sure?')" value="Remove"> 
                </td>
            </tr>
        }
    } 
</table>
