@model Workout

<h2>@Model.WorkoutName</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
    </tr>

    @foreach (var exercise in @Model.WorkoutExercises)
    {
        <tr>
            <td><a href=/Exercise/ViewExercise/@exercise.ExerciseID>@exercise.ExerciseID</a></td>
            <td>@exercise.Name.ToUpper()</td>
            <td>@exercise.Reps</td>
            <td>@exercise.Sets</td>
        </tr>
    }

</table>
